body {

    margin: 0;

    min-height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
}


/* FONDO */

.fondo-pagina {

    position: fixed;

    top: 0;

    left: 0;

    width: 100vw;

    height: 100vh;

    z-index: -1;

    background-image: url("../img/escudo.jpg");

    background-size: contain;

    background-position: center;

    background-repeat: no-repeat;

    opacity: 0.2;

    pointer-events: none;
}


/* CONTENEDOR */

#contenedor {

    width: 100%;

    max-width: 960px;

    margin: 0 auto;
}


/* CABECERA */

.cabecera {

    width: 100%;

    text-align: center;

    padding: 20px 0;

    background-color:rgba(145, 24, 67, 0.2);
}


/* TITULO */

#uva {

    font-family: "Smythe", serif;

    font-size: 80px;

    color: #5b0a2f;

    text-align: center;

    margin: 20px 0;
}


/* MENU */

.menu ul {

    list-style-type: none;

    padding: 0;

    margin: 40px 0;

    text-align: center;
}

.menu ul li {

    display: inline-block;

    margin: 0 5px;
}

.menu ul li a {

    display: block;

    background-color: #630b28ed;

    color: white;

    text-decoration: none;

    padding: 14px 30px;

    border-radius: 50px;
}


/* LINKS */

a:link {

    color: orange;
}

a:visited {

    color: orange;
}

a:hover {

    color: red;
}

a:active {

    color: red;
}


/* BOTON VOLVER */

a.volver {

    color: #333;

    background-color: #EEE;

    text-decoration: none;

    padding: 10px 20px;

    border-radius: 10px;

    display: inline-block;
}


/* CONTENIDO */

.contenido-principal {

    width: 90%;

    margin: 0 auto;

    padding: 20px;

    background-color: rgba(149, 205, 154, 0.556);

    border-radius: 15px;
}


/* TITULO SECCION */

.titulo-seccion {

    text-align: center;

    color: #1d3557;
}


/* PARRAFOS */

.parrafo1 {

    line-height: 1.6;

    text-align: justify;

    font-style: oblique;
    
}

.parrafo2 {

    line-height: 1.6;

    text-align: justify;

    font-family: Georgia, 'Times New Roman', Times, serif;

}


/* ARTICLE */

.info-transporte {

    margin-top: 20px;

    padding: 15px;

    background-color: rgba(210, 220, 172, 0.8);

    border-radius: 10px;
}


/* ASIDE */

.lateral {

    width: 90%;

    margin: 30px auto;

    padding: 20px;

    text-align: center;

    background-color: rgba(255,255,255,0.7);

    border-radius: 15px;
}

.lateral iframe {

    max-width: 100%;
}


/* FOOTER */

.pie-pagina {

    background-color: #410202;

    color: white;

    text-align: center;

    padding: 20px;

    margin-top: 30px;
}

.pie-pagina address {

    font-style: normal;

    margin-top: 10px;
}
